
.purple{
    color:#915AF6;
}
#main.share{
    /* height: auto; */
    background: #EAEAEA url(https://lf9-static.bytednsdoc.com/obj/eden-cn/wthJoabvf_lm_tyvmahsWgpi/ljhwZthlaukjlkulzlp/coding_life/bg.png) top right no-repeat;
    background-size: 5.82rem 99.07rem;
    display: flex;
    align-items: center;
}
#main.share .content{
    position:relative;
    z-index: 2;
    width:24.42rem;
    text-align: left;
}
.share .logo{
    border-top: solid 0.071rem #000;
    padding-top:1.071rem;
    padding-bottom:1.117rem;
}
.share .logo img{
    height:2.04rem;
}


.share .bannerImg{
    margin-bottom: 0.714rem;
}
.share .bannerImg img{
    width:18rem;
}

.share .slogan{
    margin-bottom:1.428rem;
}


.share .result{
    position: relative;
}
.share .result .scope{
    position:relative;
}
.share .result .scope img{
    
    width: 20.786rem; 
}
.share .result .text{
    position: absolute;
    left:0;
    bottom:0.5rem;
    z-index: 1;
    width: 7.1rem;
    height:4.286rem;
    text-align: center;
    color:#915AF6;
    font-size: 4.286rem;
}
.share .result .text svg{
    color: #915AF6;
    width: 2.1rem;
    padding-right: 0.2rem;
}
.share .result .text img{
    display: inline-block;
    height: 3.5rem;
    margin: 0 0.193rem;
}


.share .talents{
    position: relative;
    margin-top:0.857rem;
}
.share .talents .header,
.share .index .header{
    color:#000;
    font-size: 1.43rem;
    position:relative;
}
.share .talents .header::before,
.share .index .header::before{
    content: '';
    width:6.5rem;
    height: 1.43rem;
    background-color: #00EC7E;
    position: absolute;
    top:0.8rem;
    left:1.3rem;
    z-index: -1;
}
.share .talents .item{
    position:relative;
    padding-left:3.643rem;
    margin-top:0.5rem;
}
.share .talents .item::before{
    content:'';
    width:0.571rem;
    height:0.571rem;
    border: solid 0.143rem #00EC7E;
    background-color: transparent;
    position:absolute;
    top:2rem;
    left:1.786rem;
}
.share .talents .item .name{
    font-size: 3.429rem;
    color:#000;
}
.share .talents .item .desc{
    color:#00EC7E;
}


.share .index{
    margin-top:0.857rem;
}
.share .index .header::before{
    background-color: #915AF6;
}
.share .index .summary,
.share .index .cont{
    margin: 0 0.494rem;
}
.share .index .summary{
    position:relative;
    height:4.429rem;
    background-size: 14.321rem 1.964rem;
    margin-top:1.714rem;
}
.share .index .summary .desc{
    font-size: 1.514rem;
}
.share .index .summary .grade{
    display: inline-block;
    height:1.571rem;
    width:5rem;
    text-align: center;
    color: #915AF6;
}
.share .index .summary .grade svg{
    width:0.9rem;
    padding-right:0.2rem;
}
.share .index .cont{
    height:26rem;
    position:relative;
}
.share .index .cont svg{
    width:1rem;
    padding-right:0.2rem;
}
.share .index .left, 
.share .index .right{
    position:absolute;
}
.share .index .left{
    top:1.829rem;
    left:0;
}
.share .index .right{
    top: -0.929rem;
    right:0;
}
.share .index .left .item,
.share .index .left .item img{
    width:11.58rem;
    height:7.36rem;
    position: relative;
}
.share .index .left .item,
.share .index .right .item{
    margin-bottom:0.786rem;
}
.share .index .right .item,
.share .index .right .item img{
    width:11.58rem;
    height:6.79rem;
    position:relative;
}
.share .index .left .item .bg{
    position:absolute;
}
.share .index .left .item .desc{
    position:absolute;
    right: 2.05rem;
    bottom: 0;
    width: 3rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}
.share .index .left .item .count{
    position:absolute;
    top: 3.26rem;
    right: 0;
    font-size: 1.571rem;
    text-align: center;
    width: 5rem;
    color: #fff;
}
.share .index .right .item .bg{
    position:absolute;
}
.share .index .right .item .desc{
    position:absolute;
    left: 2.05rem;
    bottom: 0;
    width: 3rem;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
}
.share .index .right .item .count{
    position:absolute;
    width: 5rem;
    top: 2.9rem;
    text-align: center;
    color: #fff;
    font-size: 1.571rem;
}


.share .divide{
    margin:1.3rem 0 1.271rem;
    color: #595959;
    overflow: hidden;
}

.share .erweima{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0 2rem;
    text-align: center;
    color:#323232;
}
.share .erweima .item .image{
    height:7.429rem;
    width:7.429rem;
    border: solid 0.143rem #00EC7E;
}
.share .erweima .item .image img{
    width: 100%;
}

.share .footer{
    color:#323232;
    margin: 1.171rem 0 2rem;
    padding-bottom:0.71rem;
    border-bottom: solid 0.071rem #000;
    text-align:center;
}

.highlight{
    border-top: solid 0.071rem #000;
    padding-top: 0.8rem;
    margin-top: 0.4rem;
}
/* .highlight p{
    margin-bottom: 0.4rem;
    font-size: 1rem; 
    text-indent: 2em;
} */
.highlight .item{
    display: flex;
}
.highlight .item span{
    width:5rem;
    text-align: right;
}
.highlight .item p{
    flex:1;
}